.Edit-page {
  .header{
    height: 100px;
    width: 100%;
    padding: 0 150px;
    background-color: #ffdead;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .apptitle {
      color:#000000;
    }
    .post {
      font-size: 18px;
      color: #000000;
      border: 2px solid #b0c4de;
      border-radius: 10px;
      padding: 5px;
      background: #ffd700;
      margin: 5px;
    }
  }
  .contents {
    width: 100%;
    background: #f5f5f5;
    .form-group {
      width: 60%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      .post {
        margin: 0px;
        text-align: center;
      }
      .form-title {
        font-size: 18px;
        margin: 5px 0 ;
      }
      .form-area {
        padding: 5px;
      }
      .form-text {
        padding: 5px;
        height: 500px;
      }
    }
    .btn {
      width: 100px;
      margin: auto;
      padding: 10px;
      border-radius: 90px;
      transition: opacity .5s;
      text-align: center;
      .create-btn {
        width: 90px;
        padding: 10px;
        border-radius: 90px;
        transition: opacity .5s;
      }
    }
  }
}