@import "./reset";
@import "font-awesome-sprockets";
@import "./font-awesome";

@import "memos/*";
@import "users/sign_up";
@import "users/sign_in";

html, body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

a{
  text-decoration: none;
}

.field_with_errors {
  display: grid;
}